@import url('https://fonts.cdnfonts.com/css/sf-pro-display');
@import "tw-animate-css";
@import "tailwindcss";





html{
  scroll-behavior: smooth;



}

.impact-font {
  font-family: 'Impact', sans-serif;
}



@theme{
  --color-dark : #4B3D1A;
  --color-light : #FBF0D9;

}


body {
  max-width: 100vw;
  overflow-x: hidden;
  min-height: 100vh;
  background: #F3EDE1;
  color:black;
  font-family: 'SF Pro Display', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
}






.container_section{
  @apply w-full  py-6 bg-[#F3EDE1];
}

.container_section-white{
  @apply w-full bg-[#FBF0D9] text-[#0F3714] py-2;
}

.container_content{
  @apply max-w-7xl mx-auto px-4 sm:px-6 lg:px-8 py-12 md:py-12 overflow-hidden;
  /* @apply max-w-7xl mx-auto px-4 sm:px-6 lg:px-8 py-12 md:py-18 overflow-hidden border-x-2 border-black; */

}



.button_black_bg{
  @apply bg-black text-white px-6 sm:px-16 py-2 rounded-4xl hover:bg-transparent hover:text-black border border-black  transition cursor-pointer;
}

.button_white_bg{
  @apply bg-transparent text-black px-16 py-2 rounded-4xl hover:bg-black hover:text-white border border-black transition cursor-pointer;
}


.black-layer {
  @apply absolute inset-0 bg-black/50;
}


.button-grn{
  @apply bg-[#b47f2b] cursor-pointer hover:bg-transparent px-6 py-2 rounded-md text-white border hover:text-black border-[#b47f2b] transition;
}

.button_explore {
  @apply self-start border border-black cursor-pointer hover:border-dark hover:text-dark hover:bg-light text-sm font-medium px-4 py-1 rounded-md transition;
}


@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}